@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berserker";
  src: url("./assets/fonts/Berserker-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  @apply font-sans;
  color: white;
  background: black;
}
